* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf5;
}

/* Common  */
.section-heading {
  color: #000958;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19;
}

.section-desc {
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
}

.btn {
  --height: 56px;
  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn-primary {
  border: 1px solid #ff5b2e;
  background: #ff5b2e;
  color: #fff;
  font-size: 1.6rem;
}

.btn-primary:hover {
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

/* Header  */
.header.fixed {
  padding-top: 28px;
  padding-bottom: 6px;
  position: sticky;
  top: -22px;
  z-index: 5;
  background-color: #fffaf5;
}

.space-height {
  scroll-margin-top: 90px;
}

.space-height2 {
  scroll-margin-top: 40px;
}

.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.navbar__link,
.header-action__link {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar__link.active,
.navbar__link:hover {
  color: #000958;
  text-shadow: 0.5px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;
  min-width: 117px;
  margin-left: 9px;
  transition: background-color 300ms, color 500ms;
}

.header-action__btn:hover {
  background-color: rgb(0, 9, 88, 0.7);
  color: #fff;
}

/* Hero  */
.hero {
  margin-top: 70px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 120px;
}

.hero__media {
  position: relative;
  display: flex;
  padding-bottom: 47px;
}

.hero__img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  width: 388px;
  height: 488px;
  border: 3px solid #fff;
  border-radius: 16px;
  background: #fe997b;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
  align-self: flex-end;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor-left {
  bottom: 10px;
  left: -50px;
}

.hero__decor-right {
  right: -40px;
  top: 19px;
}

.hero__img-wrap-small {
  width: 186px;
  height: 244px;
  border: 2px solid #fddfe1;
  background: #faa7ad;
  margin-left: -23px;
  margin-top: 302px;
}

.hero__list {
  position: absolute;
  left: 129px;
  bottom: 0;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  padding: 18px 14px;
}

.hero-list-item {
  display: flex;
}

.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
}

.hero-list-item:last-child .hero-list-item__thumb {
  background: rgba(198, 226, 250, 1);
}

.hero-list-item__separate {
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 1px;
  margin: 20px 0;
}

.hero-list-item__info {
  margin-left: 9px;
}

.hero-list-item__title {
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero-list-item__skeleton-01 {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-list-item__skeleton-02 {
  margin-top: 6px;
  width: 39px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero__heading {
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero__desc {
  width: 391px;
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__booking {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 189px;
  height: 60px;
}

.hero-booking-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  inset: none;
  background-color: rgba(255, 250, 245, 1);
  border-radius: 50%;
}

.hero-booking-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.hero__cta-link {
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
}

.hero__cta-link:hover {
  text-decoration: underline;
}

/* About  */
.about {
  margin-top: 77px;
  padding-top: 53px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 130px;
}

.about__label {
  margin-top: 87px;
  color: #5e6085;
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.about__heading {
  margin-top: 15px;
}

.about__heading,
.about__desc {
  width: 444px;
}

.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  gap: 34px 36px;
}

.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;

  cursor: pointer;
}

.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: rgba(255, 93, 49, 1);
}

.about__check-item:hover::before {
  box-shadow: rgba(255, 93, 49, 0.25) 0px 54px 55px,
    rgba(255, 93, 49, 0.12) 0px -12px 30px, rgba(255, 93, 49, 0.12) 0px 4px 6px,
    rgba(255, 93, 49, 0.17) 0px 12px 13px, rgba(255, 93, 49, 0.09) 0px -3px 5px;
}

.about__check-item::after {
  content: url(../icon/check.svg);
  position: absolute;
  top: 3px;
  left: 3px;
}

.about__media {
  position: relative;
  margin-left: 108px;
}

.about__card {
  position: absolute;
  left: -92px;
  bottom: 238px;
  padding: 31px 26px 29px 26px;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__card-title {
  color: #fff;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1;
}

.about__card-desc {
  margin-top: 14px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.about__card-decor-01 {
  position: absolute;
  top: -37px;
  right: -33px;
}

.about__img-wrap {
  position: relative;
}

.about__img-wrap::before {
  position: absolute;
  z-index: -1;
  content: "";
  display: inline-block;
  left: 0;
  right: 0;
  bottom: 0;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
  display: block;
  width: 450px;
  height: 559px;
  object-fit: cover;
  margin: 0 7px 0 26px;
}

.about__card-decor-02 {
  position: absolute;
  bottom: 307px;
  right: -51px;
  z-index: -1;
}

.about__media-bottom {
  margin-left: 0;
}

.about__img-wrap-bottom::before {
  content: none;
}

.about__img-wrap-bottom {
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img-bottom {
  width: 458px;
  height: 500px;
  object-fit: cover;
}

.about__img-bottom-decor {
  position: absolute;
}

.about__media-bottom img:nth-child(2) {
  top: 12.5px;
  right: 63.16px;
}

.about__media-bottom img:nth-child(3) {
  top: -16px;
  right: 13px;
}

.about__media-bottom img:nth-child(4) {
  top: 33px;
  right: -21px;
}

.about__media-bottom img:nth-child(5) {
  top: 268px;
  right: -34px;
}

.about__media-bottom img:nth-child(6) {
  right: 19px;
  top: 336px;
}

.about__media-bottom img:nth-child(7) {
  left: 377px;
  top: 435px;
}

.about__desc-bottom {
  width: 511px;
  margin-bottom: 44px;
}

.tab__list {
  position: relative;
  display: flex;
  gap: 56px;
}

.tab__list::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 557px;
  height: 2px;
  opacity: 0.07;
  background: #ff5b2e;
}

.tab__item {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10.94px;
  padding-bottom: 14px;
}

.tab__item-active::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 95px;
  height: 2px;
  background: #ff5b2e;
}

.tab__list li:first-child .tab__icon {
  width: 18.113px;
  height: 18.059px;
}

.tab__list li:nth-child(2) .tab__icon {
  width: 21.021px;
  height: 19.999px;
}

.tab__list li:last-child .tab__icon {
  width: 20px;
  height: 20px;
}

.tab__title {
  align-self: flex-end;
  color: #48496a;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.tab__content-item {
  display: none;
}

.tab__content-item--active {
  display: block;
}

.tab__content-desc {
  width: 391px;
  margin-top: 36px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

.tab__content-more {
  position: relative;
  display: inline-block;
  margin-top: 32px;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 5px;
}

.tab__content-more::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  content: none;
  height: 1.5px;
  background: #ff5d31;
}

.tab__content-more:hover::after {
  content: " ";
}

/* Service  */
.service {
  margin-top: 185px;
  background-color: #fff6ed;
  padding: 68px 0 100px;
}

.service__top {
  text-align: center;
  margin-bottom: 70px;
}

.service__top-sub-title,
.staff__desc {
  margin-bottom: 15px;
  color: #5e6085;
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
}

.service__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.service__column:not(:last-child) {
  margin-right: 64px;
}

.service__column:nth-child(2) {
  margin-right: 71px;
}

.service-item {
  width: 294px;
  min-height: 208px;
  padding: 30px 18px 30px 28px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  transition: transform 600ms, box-shadow 700ms;
}

.service-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 188, 122, 0.3) 0px 19px 38px,
    rgba(255, 188, 122, 0.22) 0px 15px 12px;
}

.service-item + .service-item {
  margin-top: 24px;
}

.service-item__title {
  display: flex;
  align-items: center;
  color: #000958;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

.service-item__title::before {
  margin-right: 10px;
  display: inline-block;
  content: "";
  width: 2px;
  height: 22px;
  border-radius: 2px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-item__desc {
  margin-top: 18px;
  width: 243px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

.service-item__more {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
}

.service-item__more:hover {
  text-decoration: underline;
}

.service-item__more::after {
  content: url(../icon/arrowupright.svg);
  width: 12px;
  height: 12px;
}

.service__media {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 17px;
}

.service__img {
  position: relative;
  width: 100%;
  z-index: 3;
}

.service__media::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 16px;
  display: inline-block;
  width: 410px;
  height: 350px;
  z-index: 2;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}

.service__cta-wrap {
  display: flex;
  justify-content: center;
}

.service__cta {
  --height: 56px;
  min-width: 214px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;

  color: #ff5b2e;
  margin: 45px auto 0 auto;
  transition: opacity 700ms, box-shadow 700ms, background 700ms, color 700ms;
}

.service__cta:hover {
  opacity: 0.8;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  background: #ff5b2e;
  color: #fff;
}

/* Staff */
.staff {
  padding: 130px 0;
}

.staff__desc,
.staff__heading {
  text-align: center;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  margin-top: 45px;
}

.staff-item {
  position: relative;
  text-align: center;
}

.staff-item-decor {
  position: absolute;
}

.staff-item:first-child .staff-item-decor,
.staff-item:nth-child(3) .staff-item-decor {
  left: 0;
  bottom: 86px;
}

.staff-item:last-child .staff-item-decor,
.staff-item:nth-child(2) .staff-item-decor {
  left: 0;
  top: 26px;
}

.staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
  overflow: hidden;
}

.staff-item__img-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 266px;
  border-radius: inherit;
}

.staff-item:first-child .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:last-child .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}

.staff-item__title {
  margin-top: 34px;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}

.staff-item__name {
  margin-top: 14px;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
}

.staff__cta-wrap {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.staff__cta {
  --height: 56px;
  min-width: 193px;
  border: 1px solid #ff5b2e;
  color: #ff5b2e;
  transition: opacity 700ms, box-shadow 700ms, background 700ms, color 700ms;
}

.staff__cta:hover {
  opacity: 0.8;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  background: #ff5b2e;
  color: #fff;
}

/* Pricing  */
.pricing {
  padding: 86px 0;
  background-color: #fff6ed;
}
.pricing__heading,
.pricing__desc {
  text-align: center;
}

.pricing__desc {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__switch-wrap {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.pricing__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e99;
}

.price-sale__img {
  position: absolute;
  top: -19px;
  right: -126.79px;
}

.pricing__switch-label::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 140px;
  height: 100%;
  border-radius: inherit;
  background: #ff5b2e;
}

.pricing__switch-value {
  position: relative;
  z-index: 2;
  padding: 0 40px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
}

.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:last-of-type,
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:first-of-type {
  color: #ff5b2e;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
  left: auto;
  right: 0;
  width: 131px;
}

.pricing__container {
  width: 994px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px;
}

.pricing-item {
  width: 302px;
  min-height: 465px;
  border-radius: 20px;
  background: #fff;
  padding: 30px 28px 43px 28px;
  transition: box-shadow 700ms;
}

.pricing-item__desc {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
}

.pricing-item__heading {
  margin-top: 8px;
  color: #3f4065;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.pricing-item__price {
  margin-top: 24px;
  color: #000958;
  font-family: Sora;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.03;
}

.pricing-item__btn {
  cursor: pointer;
  --height: 44px;
  margin-top: 22px;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(255, 91, 46, 0.6);
  color: #ff5b2e;
  transition: color 700ms, background-color 700ms;
}

.pricing-item__btn:hover,
.pricing-item:nth-child(2) .pricing-item__btn {
  color: #fff;
  background-color: #ff5b2e;
}

.pricing-item__list {
  margin-top: 25px;
}

.pricing-item__item {
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}

.pricing-item__item::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icon/Check.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 12px;
  vertical-align: middle;
}

.pricing-item:nth-of-type(-n + 2)
  .pricing-item__list
  .pricing-item__item:nth-last-child(-n + 3)::before {
  opacity: 0.4;
}

.pricing-item:hover,
.pricing-item:nth-of-type(2) {
  box-shadow: rgba(255, 91, 46, 0.25) 0px 50px 100px -20px,
    rgba(255, 91, 46, 0.3) 0px 30px 60px -30px,
    rgba(255, 91, 46, 0.35) 0px -2px 6px 0px inset;
}

/* Review  */
.review {
  margin-top: 20px;
  padding: 32px 0;
}

.review__inner {
  display: flex;
  align-items: center;
  /* gap: 44px; */
}

.review__control {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid rgba(255, 209, 196, 1);
  background-color: transparent;
  color: rgba(255, 91, 46, 1);
  cursor: pointer;
  transition: background-color 700ms, color 700ms;
}

button.review__control:first-child {
  margin-right: 44px;
}

button.review__control:last-child {
  margin-left: 76px;
}

.review__control:hover {
  background-color: rgba(255, 91, 46, 1);
  color: #fff;
}

.review__content {
  overflow: hidden;
}

.review__list {
  display: flex;
}

.review__item {
  display: flex;
  align-items: center;
  gap: 115px;
  /* width: 100%;
  flex-shrink: 0; */
}

.review-item__content {
  margin-top: 77px;
}

.review-item__media {
  position: relative;
  width: 274px;
  flex-shrink: 0;
  border-radius: 137px;
}

.review-item__media::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  content: "";
  width: 100%;
  height: 78%;
  background: #ffda54;
}

.review-item__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  border-radius: inherit;
}

.review-item__quote {
  width: 553px;
  margin-top: 24px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.56;
}

.review-item__author {
  display: flex;
  align-items: center;
  margin-top: 34px;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

.review-item__author::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
  margin-right: 8px;
}

.review__dots {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.review__dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ff5b2e;
}

.review__dot:hover {
  cursor: pointer;
  background-color: #ff5b2e;
}

.review__dot-active {
  width: 24px;
  background-color: #ff5b2e;
}

/* Blog */
.blog {
  margin-top: 98px;
}

.blog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__info {
  width: 350px;
  margin-right: 73px;
}

.blog__desc {
  margin-top: 0;
}

.blog__cta {
  --height: 56px;
  margin-top: 24px;
  min-width: 182px;
  border: 1px solid #ff5b2e99;
  color: #ff5b2e;
  transition: background-color 700ms, color 700ms;
}

.blog__cta:hover {
  background-color: #ff5b2e;
  color: #fff;
}

.blog__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.blog-item__img {
  display: block;
  margin-top: 21px;
  width: 332.669px;
  height: 308px;
  object-fit: cover;
}

.blog-item__img-wrap {
  border-radius: 24px;
  overflow: hidden;
  background: #ff997e;
  padding: 24px 0 0 36px;
}

.blog-item:first-child .blog-item__img-wrap {
  background: #90ccff;
}

.blog-item:last-child .blog-item__img-wrap {
  background: #5bd6e2;
}

.blog-item__time {
  color: #fff;
  font-family: Sora, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.21;
}

.blog-item__info {
  margin-top: 28px;
  width: 355px;
}

.blog-item__title {
  color: #000958;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.54;
}

.blog-item__desc {
  margin-top: 16px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71;
}

/* Footer*/
.footer {
  margin-top: 131px;

  background: #fff6ed;
  background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 52px 0 48px 0;
  /* align-items: center; */
  gap: 10px;
}

.footer__left {
  margin-top: 60px;
  width: 41%;
}

.footer__logo {
  margin-top: 0;
}

.footer__right {
  width: 59%;
}

.search__form {
  margin-top: 34.82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 46px;
  border-radius: 23px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: #fff;
}

.search-form__input {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  outline: none;
  border: none;
  padding: 0 0 0 22px;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.16;
}

.search-form__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #656689 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.search-form__input:autofill {
  background-color: white !important;
  color: #656689 !important;
}

.search-form__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: -1px;
  border: none;
  outline: none;
  background-color: rgba(255, 91, 46, 1);
}

.footer__heading {
  margin-top: 68px;
  color: #000958;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11;
}

.social__list {
  margin-top: 25px;
  display: flex;
  gap: 16px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  transition: background-color 700ms;
}

.social-item:hover {
  background-color: rgba(0, 9, 88, 1);
}

.social-item:hover svg path {
  stroke: #fff;
  fill: #fff;
  opacity: 1;
}

.footer__row {
  display: flex;
  margin-left: 129px;
  gap: 137px;
  margin-bottom: 58px;
}

.footer__row:first-child {
  gap: 225px;
}

.footer__list {
  margin-top: 14px;
}

.footer__heading-column {
  margin-top: 0;
  color: #000958;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11;
}

.footer__link {
  margin-top: 12px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__time {
  margin-top: 0;
}

.footer__time:hover {
  text-decoration: none;
}

.footer__copyright {
  margin-left: 22px;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.16;
}
